@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.dataTableForPrint{
    color: red;
}
.dataTableForPrint tr>td{
    width: 10px !important;
    overflow: hidden;
}
.dataTableForPrint tr{
    height: auto !important;
}
.trFreezed::-webkit-scrollbar{
    display: none;
}
.freezedCell::-webkit-scrollbar{
    display: none;
}
.freezedCell{
    height: 100px !important;
    max-height: 100px !important;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    padding: 10px auto;
}
.freezedHeading{
    height: 100px !important;
    max-height: 100px !important;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}